
    
     <div class="contact-us" id="contato">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="contact-head text-center">Adote um pet</h2>
          <h4 class="contact-p text-center">Olá, estamos quase lá, antes de você encontrar o pet ideal, você irá preencher alguns dados e clicar nas checkboxs caso as frases se encaixem no seu perfil, assim o nosso sistema consegue computar os cachorros ideais para você.  Desde já obrigado pelo seu bom coração.</h4>

        </div>
        <%= form_for(:session, url: perfil_path) do |f| %>
        <div class="col-md-8 col-md-offset-2">
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Seu nome</label>
                  <%= f.text_field :nome, class: 'form-control',placeholder: session[:nome], value: session[:nome]%>
                  
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <%= f.text_field :email, class: 'form-control',placeholder: session[:email],value: session[:email] %>
                </div>
              </div>
                
                
  <div class="col-lg-6">
      <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
         <%= f.check_box :apartamento, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder=" Moro em apartamento" disabled>
    </div><!-- /input-group -->
      </div>
  </div><!-- /.col-lg-6 -->
                
<div class="col-lg-6">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
         <%= f.check_box :condominio, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Moro em um condominio" disabled >
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<div class= "col-lg-6">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :areapet, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Tenho uma área para o futuro pet" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
                </div>
  <div class="col-lg-6">
      <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :horalivre, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Tenho mais de uma hora livre para o pet" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
                </div>
                
<div class="col-lg-6">
    <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :crianca, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Tenho criança(s) menor que 10 anos" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
    <div class="col-lg-6">
<div class="form-group">
        <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :caosozinho, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Meu cão ficará mais de duas horas sozinho" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
                
<div class="col-lg-6">
<div class="form-group">
        <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :caosala, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Meu cão poderá ficar na sala de estar" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
                
                <div class="col-lg-6">
<div class="form-group">
        <div class="input-group">
      <span class="input-group-addon">
        <%= f.check_box :renda, {}, 1, 0 %>
      </span>
      <input type="text" class="form-control" placeholder="Renda maior que mil reais por pessoa" disabled>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
                <div class="formsend">
                <%= f.submit "Procurar", class: "btn btn-block" %>
                </div>
                <%end%>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
