<p id="notice"><%= notice %></p>

<p>
  <strong>Doadornome:</strong>
  <%= @pet.doadornome %>
</p>

<p>
  <strong>Doadoremail:</strong>
  <%= @pet.doadoremail %>
</p>

<p>
  <strong>Petnome:</strong>
  <%= @pet.petnome %>
</p>

<p>
  <strong>Petraca:</strong>
  <%= @pet.petraca %>
</p>

<p>
  <strong>Petimagem:</strong>
  <%= @pet.petimagem %>
</p>

<p>
  <strong>Petimagem url:</strong>
  <%= @pet.petimagem_url %>
</p>

<p>
  <strong>Petobservacoes:</strong>
  <%= @pet.petobservacoes %>
</p>

<p>
  <strong>Petinsercao:</strong>
  <%= @pet.petinsercao %>
</p>

<p>
  <strong>Petidade:</strong>
  <%= @pet.petidade %>
</p>

<p>
  <strong>Pettamanho:</strong>
  <%= @pet.pettamanho %>
</p>

<p>
  <strong>Petchora:</strong>
  <%= @pet.petchora %>
</p>

<p>
  <strong>Petsegue:</strong>
  <%= @pet.petsegue %>
</p>

<p>
  <strong>Petagitado:</strong>
  <%= @pet.petagitado %>
</p>

<p>
  <strong>Petlateestranhos:</strong>
  <%= @pet.petlateestranhos %>
</p>

<p>
  <strong>Petavanca:</strong>
  <%= @pet.petavanca %>
</p>

<p>
  <strong>Petproblemassaude:</strong>
  <%= @pet.petproblemassaude %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
