  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
         <h3>Sobre nós </h3>
               <p>Acolha um amigo é um projeto que visa a criação de uma plataforma unificada para divulgação de animais para adoção. Nessa plataforma, instituições e pessoas que recolhem animais podem divulgar os mesmos, de forma unificada.</p>
               <p class="about-more"><a href="<%=home_path%>#about-us">Veja mais...</a></p>
        </div>

        

        <div class="col-md-4">
          <h3 class="footerh4">Mapa do Site</h3>
          <ul class="links">
            <li><a href="<%=home_path%>">Home</a></li>
            <li><a href="<%=home_path%>#contato">Contato</a></li>
            <li><a href="<%=home_path%>#missao">Missão</a></li>
            <li><a href="<%=busca_path%>">Adotar</a></li>
            <li><a href="<%=petcadastro_path%>">Aliste um bichinho</a></li>
          </ul>
        </div>
        
        


        <div class="col-md-4">
          <h3 class="footerh4">Entre em contato</h3>
          <p class="footerp">Entre em contato diretamente conosco e siga a gente nas redes sociais
          </p>

          <p class="yolk"><a href="jay503cool@gmail.com"><i class="fa fa-envelope-o"></i> acolhaAmigo@gmail.com</a></p>

          <p class="yolk"><a href="jay503cool@gmail.com"><i class="fa fa-phone"></i>(11) 94007-0100</a></p>
           <ul class="list-inline social-buttons">
       
                            <li><a href="#">
                              <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>   
                            </a>
                            </li>
                            <li><a href="#">
                              <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x"></i>  
                            </a>
                            </li>
                               <li><a href="#">
                              <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x"></i>  
                            </a>
                            </li>
                                      
                        </ul>
        </div>
      </div>
    </div>
  </div>

